<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManageFarm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ManageFarm.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
</head>
<body>
    <header>
        
        <div class="sidebar">
            <a class="nav-link text-light" asp-page="/Index">
                <span class="material-symbols-outlined">home</span>
                Home
            </a>
            <a class="nav-link text-light" asp-page="/Weather">
                <span class="material-symbols-outlined">cloud</span>
                Weather
            </a>
            <a class="nav-link text-light" asp-page="/Map">
                <span class="material-symbols-outlined">location_on</span>
                Map
            </a>
            <a class="nav-link text-light" asp-page="/Workers">
                <span class="material-symbols-outlined">groups</span>
                Workers
            </a>
            <a class="nav-link text-light" asp-page="/Privacy">
                <span class="material-symbols-outlined">policy</span>
                Privacy
            </a>
            <a class="nav-link text-light" asp-page="/Contact">
                <span class="material-symbols-outlined">alternate_email</span>
                Contact
            </a>
            <a class="nav-link text-light" asp-page="/Staff">
                <span class="material-symbols-outlined">table_view</span>
                Staff Database
            </a>
            <a class="nav-link text-light" asp-page="/Fields">
                <span class="material-symbols-outlined">table_view</span>
                Field Database
            </a>
            <a class="nav-link text-light" asp-page="/Machines">
                <span class="material-symbols-outlined">table_view</span>
                Machine Database
            </a>
            <a class="nav-link text-light" asp-page="/Assignments">
                <span class="material-symbols-outlined">table_view</span>
                Assignment Database
            </a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ManageFarm - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>