@page
@model ManageFarm.Pages.FieldEditModel
@{
    ViewData["Title"] = "Edit Field";
}

<h2>Edit Field</h2>

<form method="post">
    <input type="hidden" asp-for="Field.FieldId" />
    <div>
        <label asp-for="Field.Crop"></label>
        <input asp-for="Field.Crop" />
    </div>

    <button type="submit">Save Changes</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
