/*Top bar (logo and name*/

.top-bar {
    background-color: #588157; /* dark green */
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

    /* Logo image sizing */
    .top-bar .logo {
        width: 150px ; 
        height: auto ; 
    }

/* Farm name text */
.site-name {
    font-size: 2.50rem;
}

/**/

/* Bottom nav bar */
.nav-bar {
    background-color: #3e8e41; 
    display: flex;
    justify-content: center; 
    padding: 10px 20px;
    width: 100%;
}

    /*Nav pages styling*/
    .nav-bar a {
        color: white;
        text-decoration: none;
        margin-right: 30px;
        display: flex;
        align-items: center;
        font-size: 1rem;
    }

    /*Icon spacing*/
    .nav-bar span {
        margin-right: 5px;
        vertical-align: middle;
    }

/**/

/* Footer */
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*bottom of screen*/
.main-content {
    flex: 1;
}

.site-footer {
    width: 100%;
    background-color: #3e8e41;
    color: #eee; 
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9rem;
}



    
