@page
@{
    ViewData["Title"] = "Contact";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <ul>
            <!-- our emails as filler -->
            <li>Email 1: <a href="27862054@students.lincoln.ac.uk">27862054@students.lincoln.ac.uk</a></li>
            <li>Email 2: <a href="27997325@students.lincoln.ac.uk">27997325@students.lincoln.ac.uk</a></li>
            <li>Email 3: <a href="27599103@students.lincoln.ac.uk">27599103@students.lincoln.ac.uk</a></li>
            <li>Email 4: <a href="28031745@students.lincoln.ac.uk">28031745@students.lincoln.ac.uk</a></li>
            <li>Email 5: <a href="28391986@students.lincoln.ac.uk">28391986@students.lincoln.ac.uk</a></li>
            <li>Email 6: <a href="27667893@students.lincoln.ac.uk">27667893@students.lincoln.ac.uk</a></li>
        </ul>
    </div>
</body>
</html>
