@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Managing a farms workforce</h1>
    <p></p>
    <img src="/images/FARM1974-copy-scaled-1-e1648648190986.jpg" alt="Farm Image">
</div>

