@page
@model ManageFarm.Pages.MachineEditModel
@{
    ViewData["Title"] = "Edit Machine";
}

<h2>Edit Machine</h2>

<form method="post">
    <input type="hidden" asp-for="Machine.MachineId" />
    <div>
        <label asp-for="Machine.TypeOfMachine"></label>
        <input asp-for="Machine.TypeOfMachine" />
    </div>
    <div>
        <label asp-for="Machine.Status"></label>
        <input asp-for="Machine.Status" />
    </div>
    <div>
        <label asp-for="Machine.NextMaintenanceCheck"></label>
        <input asp-for="Machine.NextMaintenanceCheck" type="date" />
    </div>
    <div>
        <label asp-for="Machine.FieldId"></label>
        <select asp-for="Machine.FieldId" asp-items="@(new SelectList(Model.Fields, "FieldId", "FieldId"))">
            <option value="">Select a Field</option>
        </select>
        <span asp-validation-for="Machine.FieldId" class="text-danger"></span>
    </div>

    <button type="submit">Save Changes</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
