@page
@{
    ViewData["Title"] = "Map";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
<!-- Map Display -->
<div id="map-canvas" style="width: 800px; height: 500px; border: 5px solid #5E5454; "></div>

@section Scripts {
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script>
            var mapcode;
            var diag;
            function initialize() {
                mapcode = new google.maps.Geocoder();
                var lnt = new google.maps.LatLng(53.242100654571644, -0.6671225455690468);
                var diagChoice = {
                    zoom: 18,
                    center: lnt,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                diag = new google.maps.Map(document.getElementById('map-canvas'), diagChoice);
            }

            function codeAddress() {
                var add = document.getElementById('address').value;
                mapcode.geocode({ 'address': add }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        diag.setCenter(results[0].geometry.location);
                        new google.maps.Marker({
                            map: diag,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('This code is not successful: ' + status);
                    }
                });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
}